body {
    background: #eaafc8;
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    background: linear-gradient(to right, #eaafc8, #654ea3);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .expense-title {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 5rem;
    color: #eee;
    letter-spacing: 0.08em;
    font-size: 50px;
  }
  
  .total-expense {
    color: #eee;
    text-align: center;
    font-size: 2.5rem;
    border: 0.5rem solid white;
    border-radius: 30px;
    width: 180px;
    margin-top: 75px;
    margin-left: 75px;
    margin-bottom: 15px;
    padding: 7px;
    letter-spacing: 0.05em;
  }
  
  .expense-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-inner input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
      margin: 10px auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 50%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
  
  .expense-list {
      padding: 15px;
  }
  
  .expense-list .expense-item {
      position: relative;
      padding: 10px 15px;
      background-color: #FFF;
      border-radius: 8px;
      margin-bottom: 15px;
      display: flex;
      transition: 0.4s;
      padding-left: 75px;
  }
  
  .expense-list .expense-item .remove-item {
      position: absolute;
      width: 0;
      top: 0;
      left: 0;
      bottom: 0;
      overflow: hidden;
  
      cursor: pointer;
      display: block;
      color: black;
      font-weight: 600;
      border-radius: 8px 0px 0px 8px;
      transition: 0.2s;
    margin: 0;
    padding: 0;
  }
  
  .expense-list .expense-item:hover .remove-item {
      width: 50px;
  }
  
  .expense-list .expense-item .desc {
      flex: 1 1 100%;
  }
  
  .expense-list .expense-item .price,
  .expense-list .expense-item .date {
      min-width: 125px;
  }
  .expense-list .expense-item:hover {
      box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
  }
  
  