.register h1 {
    color: white;
}
  
.register h2 {
    text-align: center;
    margin-top: 0;
}
  
.register {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Tahoma;
    font-size: 16px;
    padding-top: 20px;
  }
  
.register label {
    display: block;
    margin: 0.5rem 0;
  }
  
.register h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
.register form {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    padding-bottom: 2em;
  }
  
  
.register fieldset {
    border: none;
    padding: 1rem 0;
  }
  
.register fieldset:not(:last-of-type) {
    border-bottom: 3px solid #3b3b4f;
  }
  
.register label {
    display: block;
    margin: 0.5rem 0;
  }
  
.register input, textarea, select {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 2em;
  }
  
.register .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
.register input, textarea {
    min-height: 2em;
  }
  
.register input[type="submit"] {
    cursor: pointer;
    border-radius: 5em;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    color: white;
  }
  
.register input[type="file"] {
    padding: 1px 2px;
  }
  
.register .warning-container {
    text-align: center;
    padding: 10px;
    margin: 50px;
    margin-top: 30px;
  }

.warning-container:hover {
  border: 2px solid red;
}